;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]]

 :dev-http {8080 "public"}
 :builds   {:frontend {:target  :browser
                       :modules {:main {:entries [hello.app]}}}

            :browser-test {:target   :browser-test
                           :test-dir "out/browser-test"
                           :devtools {:http-port 8021
                                      :http-root "out/browser-test"}}}}
