;; shadow-cljs configuration
{:source-paths ["src/main" "src/test"]

 :dependencies [[reagent "1.0.0"]
                [re-frame "1.1.2"]]

 :dev-http {8080 "public"}
 :builds   {:app {:target     :browser
                  :output-dir "public/js"
                  :asset-path "/js"
                  :modules    {:main {:entries [hello.app]}}}

            :tests {:target   :browser-test
                    :test-dir "out/browser-test"
                    :devtools {:http-port 8021
                               :http-root "out/browser-test"}}}}
